---
const footerDate = new Date().getFullYear();
---

<footer
  class="fixed bottom-0 left-0 w-full text-center text-gray-200 hidden lg:flex justify-center bg-gray-800 border-t-2 border-gray-700 p-2 text-sm"
>
  <p>
    Copyright &copy {footerDate}
    <a class="text-purple-500 underline" href="/">BlogAi.io</a> All Rights Reserved
  </p>
</footer>
